@tailwind base;
@tailwind components;
@tailwind utilities;



.fira-code {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  